<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WebRTC</title>
</head>
<body>
	<h1>WebRTC + socketio</h1>
    <video src="" id="localStream" width="300" controls></video>
</body>
    <script>
        navigator.mediaDevices.getUserMedia({audio: true, video: true})
            .then(stream => {
                const video = document.getElementById('localStream');
                video.srcObject = stream;
                video.onloadedmetadata = function(){
                    video.play();
                }
            })
            .catch(err => console.log(err));
    </script>
</html>
